@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

* {
    font-family = 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.txtPrincipal{
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.menuItems{
    background-color: #4cff00;
}